/* .panelContact{
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
    position: relative;
    animation: fadeIn 500ms ease-in-out forwards;
    background-size: cover;
    transition: background-image 500ms ease-in-out;
} */
.contactarse{
    color: #fcfcfc;
    display: block; 
    margin: 10% 10%;    
    text-align: center;
}
.icon, .iconFile{
    margin: 5%;
    color: #fcfcfc;
    text-decoration: none;
}

.icon{
    font-size: 10vmin;    
}
.iconFile{
    font-size: 9vmin;
}

.textoContact{
    font-size: 5vmin;
}

.footer{
    margin-top: 10%;
    margin-bottom: auto;
    color: #fcfcfc;   
    text-align: center;
}

.panelFirstBg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right:  0;
    top: 0;  
    z-index: 100; 
    transform-origin: left;
    transform: scaleX(0);
    background-color:  #204e4a;
}