@import url('https://fonts.googleapis.com/css?family=Special+Elite|Viga');

  .SplitPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 95vh;
  }
  
  
  .SplitPane-left {
    float: left;
    width: 30%;
    text-align: right;
  }
  
  .SplitPane-right {
    float: left;
    width: 70%;
    color: #ffccff;
    text-align: left;
  }
.foto{
  margin-top:15%;
  border-radius: 10px;
  box-shadow:  0 0 15px #001c1b;
}  

.biografy{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    display: block;
}
.titulo,.skills{
    color: #fcfcfc;
    font-weight: bolder;
    font-family: 'Special Elite', cursive;
    margin-bottom: auto
       
}
.titulo{
  font-size: 10vmin;
}
.skills{
  text-align: center;
}

.parrafo{
    text-indent: 2em; 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify;
    font-weight: 500
  }

.boton{
    border: 1px solid #ffccff;
    color: #fcfcfc;
    background: none;
    position: absolute;
    padding: 1%; 
    text-decoration: none;
    text-align: center;
}
.boton:hover {
    background-color: #fcfcfc;
    border: 1px solid #001c1b;
    color: #001c1b;
  }
.icono{
  font-size: 7vmin;
  margin:auto 2%;
}
.iconoNodeGit{
  font-size: 10vmin;
  margin: auto 2%;
}
.icons{
  margin-bottom: 2%;
  text-align: center;
}
.first-bg{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right:  0;
  top: 0;  
  z-index: 100;
  transform-origin: right;
  transform: scaleX(0);
  background-color:  #204e4a;
}





  /* @media (max-width: 1000px) {
  .SplitPane {
      flex-direction: column;
      flex-wrap: wrap;
    }
  .SplitPane-left {
      float: left;
      width: 100%;
      height: 50%;
  }
  .SplitPane-right {
    float: left;
    width: 100%;
    height: 50%;
    color: #0b4242;
  }
} */